{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose difficulty level <!-- Выберите уровень сложности -->
{% endblock %}

{% block content %}

    <table class="table table-striped">
        <thead>
        <th class="text-center">Matrix size: <!-- Размер матрицы: --></th>
        <th class="text-center">Points for the right answer: <!-- Выигрыш за правильный ответ:--></th>
        <th  class="text-center">Your choice <!-- Ваш выбор --> </th>
        </thead>
        <tbody>
        {% for i, j in data %}
            <tr>
                <td class="text-center">{{ i.get_difficulty_level }}</td>
                <td class="text-center">{{ i.get_fee }}</td>
                <td class="text-center">{{ j.tag }}</td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

    {% next_button %}

{% endblock %}


{% block styles %}
    <style>
    .form-check-input{
        margin-left:0px;
    }
    </style>
{% endblock %}

